nav {
  display: flex;
  justify-content: space-between;
}
.navbar-brand {
  flex: 1 0 5%;
}
.navbar-brand img {
  width: 100%;
}
.navItemsWrapper {
  flex: 1 0 80%;
}
.navItemsWrapper {
  display: flex;
  justify-content: space-between;
  flex: 1 0 80%;
}
.navItemsWrapper .navbar-nav {
  flex: 1 0 60%;
}
.socials {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
.socials a {
  text-decoration: none;
  color: #ffffff8c;
}
.signUp {
  padding: 0.7rem 2rem;
}
