* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.navbar-brand img {
  max-width: 50%;
}
.navbar-nav .nav-link {
  color: aliceblue;
  font-size: 1rem;
  padding-inline: 1rem !important;
}
.socials {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.navbar-text a {
  color: #fff;
}
.signUp {
  background-color: aqua;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

@media screen and (min-width: 1440px) {
  .navbar .container {
    max-width: 100%;
  }
}

/* Banner Section */
